<section id="footer">
  <div class="container">
    <div class="box row">
      <div class="col-md col-6">
        <h3>Company</h3>
        <ul>
          <li><a href="/what-is-btcexplorer">About Us</a></li>
          <li><a href="/trade">Trade</a></li>
          <li><a href="/faq">FAQs</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md col-6">
        <h3>Legal</h3>
        <ul>
          <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li>
            <a href="/self-regulation" target="_blank">Self Regulation</a>
          </li>
        </ul>
      </div>
      <div class="col-md col-6 icons-space">
        <h3>Socials</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/btcexplorerapp/" target="_blank"
              ><img src="/assets/img/facebook-light.svg" alt="Facebook" />
              Facebook</a
            >
          </li>
          <li>
            <a href="https://t.me/btcexplorer" target="_blank"
              ><img src="/assets/img/telegram-light.svg" alt="Telegram" />
              Telegram</a
            >
          </li>
          <li>
            <a href="https://twitter.com/btcexplorerapp" target="_blank"
              ><img src="/assets/img/twitter-light.svg" alt="Twitter" />
              Twitter</a
            >
          </li>
          <li>
            <a href="https://medium.com/btcexplorer" target="_blank"
              ><img src="/assets/img/medium-light.svg" alt="Medium" /> Medium</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md col-6">
        <h3>Knowledge</h3>
        <ul>
          <li>
            <a
              href="https://medium.com/btcexplorer/understanding-bitcoin-e8ed54052d04"
              traget="_blank"
              >What is Bitcoin?</a
            >
          </li>
          <li>
            <a
              href="https://medium.com/btcexplorer/understanding-the-concept-of-bitcoin-halving-e7ab4761ec26"
              target="_blank"
              >What is Bitcoin Halving?</a
            >
          </li>
          <li>
            <a
              href="https://medium.com/btcexplorer/understanding-bitcoin-mining-491ea536c5d0"
              target="_blank"
              >What is Bitcoin Mining?</a
            >
          </li>
          <li>
            <a
              href="https://medium.com/btcexplorer/understanding-bitcoin-fork-c7661d6ece92"
              target="_blank"
              rel="nofollow"
              >What is Fork?</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md col-sm-12 text-center">
        <h3>Member Of:</h3>
        <a href="https://www.iamai.in" target="_blank"
          ><img src="/assets/img/iamai.png" alt="IAMAI"
        /></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    &copy; 2020 btcexplorer. All right reserved.
  </div>
</section>
<br /><br /><br />
