// head-nav {

// }

#footer { background:#000000; color:#FFF; padding:50px 0px 0px; position:relative;}
#footer .box h3 {font-size:18px; font-weight:400; margin-bottom:25px;}
#footer .box ul { list-style:none; padding:0px;}
#footer .box ul li { margin-bottom: 15px;}
#footer a{color: #FFF; text-decoration: none;}
#footer a:hover { color:#949494;}
#footer .box .download { margin-top:15px;}
#footer hr{border-color:#333;}
#footer .box .icons-space ul li { position: relative; padding-left: 30px;}
#footer .box .icons-space ul li img {position:absolute; left: 0px; top:4px; color: #fff; width:16px; height:16px;}
#footer .box .address ul li i { font-size: 1.143rem;}
#footer .footer-bottom {padding:15px 0 15px; font-size:13px; color: #949494;}
#footer .footer-bottom a {color: #949494; text-decoration: none;}
#footer .footer-bottom a:hover { color:#F0F0F0;}